<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mybrary</title>
  </head>
  <body>
    <br>
    <%- include('../partials/header.ejs') %> <!-- This line includes the header partial -->
    <%- include('../partials/errorMessage.ejs') %> <!-- This line includes the error message partial -->
    <%- body %>
    </br>
  </body>
</html>
