<h2>Edit Author</h2>
<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <!-- This line includes the form fields from the _form_fields.ejs partial -->
  <a href="/authors/<%= author.id %>">Cancel</a>
  <button type="submit">Update</button>
</form>
